#homeContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 50px 0 50px 0;
    /* background-image: linear-gradient(to right, #977068, #F0EEE1) */
    background-color: #F0EEE1;
}

#homeHalf1 {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 50vw;
    /* background-color: #977068; */
    border-radius: 20px 0 0 20px;
    padding-left: 50px;
    padding-right: 20px;
}

#quote {
    font-size: 20px;
}

#homeHalf2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    background-color: #F0EEE1;
    border-radius: 0 20px 20px 0;
}

#signupForm {
    background-color: #92A89B;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

input, button {
    margin-top: 15px;
    width: 250px;
}

input {
    height: 40px;
    font-size: 14px;
    padding: 0 5px 0 5px;
    border-radius: 14px;
    border: 1px black dashed;
}

button {
    height: 40px;
    border-radius: 14px;
    border: 0;
    background-color: #3C5F5F;
    color: white;
}

@media screen and (max-width: 768px) {
    #homeContainer {
        flex-direction: column;
        align-items: center;
    }

    hr {
        width: 80%;
        margin-top: 45px;
    }
}